<header>
  <span class="siteName">
    <a href="/" title="Return to home page" class="mainLogo">CSE Motors</a>
  </span>
  <div id="tools">
    <% if (locals.loggedin) { %>
    <a title="Click to manage your account" href="/account/ma nage"
      >Welcome <%= locals.accountData.account_firstname %></a
    >
    <a title="Click to log out" href="/account/logout" class="account"><h3>Logout</h3></a>
    <% } else { %>
    <a title="Click to log in" href="/account/login" class="account"><h3>Login</h3></a>
    <% } %>
  </div>
</header>