 <div class="homeContent">
       
  <div class="carPic">
    <h1>Welcome to CSE Motors!</h1>
    <img src="images/vehicles/delorean.png" alt="logo" class="car">

    <div class="assets">
    <h2>DMC Delorean</h2>
    <h3>3 Cup Holders</h3>
    <h3>Superman Doors</h3>
    <h3>Fuzzy Dice!</h3>
    <a href="#"><img src="images/site/own_today.png" alt="own today button" class="ownToday"></a>
    </div>
  </div>

  <div class="upgrade">

    <h2 class="DU">Delorean Upgrades</h2>

      <div class="flame" class= "card">
        <img src="images/upgrades/flame.jpg" alt="flame">
        <a href="#">Flame Decals</a>
      </div>

      <div class= "hub" class= "card">
    <img src="images/upgrades/hub-cap.jpg" alt="hub-cap">
    <a href="#">Hub Caps</a>
      </div>

      <div class= "bumper" class= "card">
        <img src="images/upgrades/bumper_sticker.jpg" alt="sticker">
        <a href="#">Bumper Stickers</a>
      </div>

      <div class="flux" class= "card">
        <img src="images/upgrades/flux-cap.png" alt="flux-cap">
        <a href="#">Flux Capacitors</a>
      </div>
   
  </div>

  <div class="review">
    <h2 class="DDR">DMC Delorean Reviews</h2>
     <div class="reviewList">
      <ul>
        <li>"So fast! It's like traveling in time!" (4/5)</li>
        <li>"Coolest ride on the road!" (4/5)</li>
        <li>"I'm feeling Marty McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day!" (4.5/5)</li>
        <li>"80s livin and I love it!" (5/5)</li>
      </ul>
    </div>
  </div>

          
</div>
