/*Large*/
@media screen and (min-width: 600px) {

/*Grid areas------------------------------------------------------------*/
.homeContent {  
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr auto;
  gap: 0em 2em; 
  grid-template-areas: 
    "mainLogo apply"
    "navigation navigation"
    "carPic carPic"
    "upgrade review"
    "foot foot"; 
}
.mainLogo { grid-area: mainLogo; }
.account { grid-area: apply; }
.navigation { grid-area: navigation; }
.carPic { grid-area: carPic; }
.upgrade { grid-area: upgrade; }
.upgrade {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr auto;  
  gap: 1em 1em; 
  grid-template-areas: 
    "DU DU"
    "flux flame"
    "bumper hub"; 
    margin-top: 5em;
}
.DU { grid-area: DU; }
.flux { grid-area: flux; }
.flame { grid-area: flame; }
.bumper { grid-area: bumper; }
.hub { grid-area: hub; }
.review { grid-area: review; }
.review {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto; 
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "DDR"
    "reviewList"
}

.DDR { grid-area: DDR;
        margin-top: 7em; }

.reviewList { grid-area: reviewList; }

.foot { grid-area: footer; }



/*Images-------------------------------------------*/
.upgrade img {
  width: 10em;
  padding: 0.5em;
  align-items: center;
}

.assets {
  background-color: #fff;
  opacity: 0.5; 
  padding: 1em;
  margin-left: 8%;
  z-index: +1;
  width: 22%;
}
.assets h2, .assets h3, .assets img {
  opacity: 1.0;
}


/*General stuff--------------------------------------------------------*/
body {
  width: 80%;
  margin:auto;
}

.mainLogo {
  float: left;
  font-size: 36pt;
  padding-left: 1em;
}

.navigation a {
padding-left: 8%;
}

h2 {
  font-size: 24pt;
}
h3 {
  font-size: 20pt;
}
.carPic {
 margin-top: 0;
}
}